html {
  scroll-behavior: smooth;
}
body {
  background-color: #000000 !important;
  color: #ffffff !important;
  margin: 0;
  padding: 0;
}

/* Custom premium button override mechanics */
.btn-blue,
.btn-purple {
  display: inline-block;
  background: #238845 !important;
  border: 1px solid #1A1A1B !important;
  color: #fff !important;
  padding: 12px 24px;
  border-radius: 12px;
  text-decoration: none;
  transition: .3s;
}

.btn-blue:hover,
.btn-purple:hover {
  background: #2fb15b !important;
  border: 1px solid #fff !important;
  color: #fff !important;
  box-shadow: 0 10px 20px rgba(0,0,0,.4);
  transform: translateY(-2px);
}
